.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(212, 212, 212);
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

.nav-container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

.nav-container a:hover {
  background-color: #d4d0d0;
}

.nav-logo {
  max-height: 50px;
  width: auto;
  flex-shrink: 0;
  margin-right: 20px;
  margin-left: -100px;
}
